#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.nav {
  position: absolute;
  top: 0;
  right: 5%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.home-icon {
  transition: transform .2s;
  width: 75px;
}

.home-icon:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  gap: 2rem;
}

.container {
  background: white;
  color: black;
  width: 100%;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: transform .2s;
}

.container:hover {
  color: green;
  transform: scale(1.1);
}

.disable {
  cursor: not-allowed;
  text-decoration: none;
}

.disable:hover {
  transform: none;
  color: black;
}

.dropdown {
  width: 100px;
  height: 30px;
  text-align: left;
  background: white;
  color: black;
}

.test {
  margin-top: 8rem;
}

.command {
  display: flex;
  gap: 2rem;
}

.result-default {
  display: flex;
  flex-direction: column;
}
.result-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.background {
  position: relative;
  background: white;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 4rem;
  padding: 2rem 0;
}

.background:hover {
  background: #ffa200;
  cursor: pointer;
}

.middle {
  flex: 2;
  gap: 8rem;
}

.triangle {
  /* position: relative; */
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 100px solid gray;
  opacity: 0.8;
}

.left {
  transform: rotate(-90deg);
}
.right {
  transform: rotate(90deg);
}
.down {
  transform: rotate(180deg);
}

.move {
  position: absolute;
  background: green;
  opacity: 0.8;
  color: white;
  padding: 0.125rem 1rem;
  border-radius: 18px;
  bottom: -20%;
}

.line {
  margin: 2.5rem 0;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: gray;
  opacity: 0.8;
  border-radius: 50%;
}
.oval {
  width: 250px;
  height: 100px;
  background-color: gray;
  opacity: 0.8;
  border-radius: 50%;
}
.rectangle {
  width: 250px; 
  height: 100px; 
  background-color: gray;
  opacity: 0.8;
}
.square {
  width: 100px; 
  height: 100px; 
  background-color: gray;
  opacity: 0.8;
}
.parallelogram {
  width: 250px; 
  height: 100px;
  transform: skew(30deg); 
  background-color: gray;
  opacity: 0.8;
}
.trapeziod {
  width: 250px;
  height: 100px; 
  clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
  background-color: gray;
  opacity: 0.8;
}

.background:hover .pic-cursor {
  background: white;
}

.top-result {
  margin-left: 18rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.bottom-result {
  margin-right: 18rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
